<bal-card>
  <bal-card-title>Child 1</bal-card-title>
  <bal-card-subtitle>Subtitle</bal-card-subtitle>
  <bal-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <bal-icon [svg]="balIconRefresh" size="medium"></bal-icon>
    <bal-icon [svg]="balIconCheck" size="medium"></bal-icon>
  </bal-card-content>
  <bal-card-actions position="right">
    <bal-button color="info">Secondary Action</bal-button>
    <bal-button>Main Action</bal-button>
  </bal-card-actions>
</bal-card>


